{% extends 'layouts/blog.html' %}

{% block content %}

<div class="px-6 py-8">
    <div class="container flex justify-between mx-auto">
        <div class="w-full">
            <div class="mt-6">
                <div class="px-10 py-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    <div class="mb-8">
                        <h1 class="text-3xl font-bold text-center text-gray-700 dark:text-gray-200">Nosotros</h1>
                    </div>

                    <h2 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Fundación: Color y alegría</h2>

                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Autoridades:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Presidente: Rivero Diego</li>
                        <li>Tesorera: Morante Romina</li>
                        <li>Secretaria: Soda Yanina</li>
                    </ul>

                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Nuestra misión:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Llegar a proporcionar fuentes de trabajo con ingresos sustentables a los nuestros a través de gestiones y trabajo en conjunto con entidades gubernamentales.</li>
                    </ul>
                    
                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Alcance:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Organización de alcance nacional e internacional.</li>
                    </ul>

                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Objetivos organizacionales:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Acompañar</li>
                        <li>Contener y respaldar a nuestra comunidad</li>
                        <li>Talleres</li>
                        <li>Charlas</li>
                        <li>Capacitaciones</li>
                    </ul> 

                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Redes sociales:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100070747194751&mibextid=ZbWKwL" class="text-blue-500" target="_blank">Color y alegría</a></li>
                    </ul>
                    
                    <h3 class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400">Datos contacto:</h3>
                    <ul class="my-4 text-gray-700 list-disc pl-7 dark:text-gray-400">
                        <li>Dirección: Mz 51 Pc 07 B 444 viv 1 - 3514 - Fontana</li>
                        <li>Ciudad: Fontana - Chaco</li>
                        <li>Celular: 3624149053</li>
                        <li>Email: <a href="mailto:yanimendez00017@gmail.com" class="text-blue-500">yanimendez00017@gmail.com</a></li>
                        <li>Fecha de inicio de actividades: 2 de septiembre de 2020</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    


{% endblock content %}

