{% extends 'layouts/blog.html' %}

{% block content %}

    <p><u>Fundación: Color y alegría</u></p>
<br>
<p><u>Autoridades:</u></p>
<li>Presidente: Rivero Diego</li>
<li>Tesorera: Morante Romina</li>
<li>Secretaria: Soda Yanina</li>
<br>

<p><u>Nuestra misión:</u></p>
<li>Llegar a proporcionar fuentes de trabajo con ingresos sustentables a los nuestros a través de gestiones y trabajo en conjunto con entidades gubernamentales.</li>
<p>Alcance:</p>
<li>Organización de alcance nacional e internacional.</li>

<br>
<p><u>Objetivos organizacionales:</u></p>
<ul class="list-disc">
    <li>Acompañar</li>
    <li>Contener y respaldar a nuestra comunidad</li>
    <li>Talleres</li>
    <li>Charlas</li>
    <li>Capacitaciones</li>
</ul> 

<br>
<p><u>Redes sociales:</u></p>
<li>Facebook: <a href="https://www.facebook.com/profile.php?id=100070747194751&mibextid=ZbWKwL">Color y alegría</a></li>
<br>

<p><u>Datos contacto:</u></p>
<li>Dirección :Mz 51 Pc 07 B 444 viv 1 - 3514 - Fontana</li>
<li>Ciudad: Fontana - Chaco</li>
<li>Celular: 3624149053</li>
<li>Email: <a href="mailto:yanimendez00017@gmail.com">yanimendez00017@gmail.com</a></li>
<li>Fecha de inicio de actividades: 2 de septiembre de 2020</li>


{% endblock content %}

