{% extends 'layouts/blog.html' %}

{% block content %}
<div class="px-6 py-8">
    <div class="container flex justify-between mx-auto">
        <div class="w-full lg:w-8/12">
            {% for post in posts %}
            <div class="mt-6">
                <div class="px-10 py-6 bg-white rounded-lg shadow-md">
                    <div class="flex items-center justify-between"><span class="font-light text-gray-600">{{ post.updated_at }}</span>
                        <a href="{% url 'blog:category' post.category.id %}" class="px-2 py-1 font-bold text-gray-100 transition duration-300 bg-gray-600 rounded hover:bg-gray-500">{{ post.category.name }}</a>
                    </div>
                    <div class="mt-2">
                        <a href="{% url 'blog:show' post.slug %}" class="text-2xl font-bold text-gray-700 hover:underline">{{ post.title }}</a>
                        <p class="mt-2 text-gray-600">{{ post.body|safe|truncatewords:100 }}</p>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <a href="{% url 'blog:show' post.slug %}"class="text-blue-500 hover:underline">Leer mas...</a>
                        <div>
                            <a href="#" class="flex items-center">
                                {% if post.user.photo %}
                                <img src="{{post.user.photo.url}}" alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block dark:bg-gray-600 ring-2 ring-gray-400 dark:ring-gray-500">
                                {% else %}
                                <div class="relative w-10 h-10 mx-4 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 ring-2 ring-gray-300 dark:ring-gray-500">
                                    <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                </div>
                                {% endif %}
                                <h1 class="font-bold text-gray-700 hover:underline">{{ post.user.username }}</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="mt-6">
                <div class="px-10 py-6 bg-white rounded-lg shadow-md">No se encontraron publicaciones.</div>
            </div>
            {% endfor %}
            
            {% include 'includes/paginate.html' %}

        </div>
        <div class="hidden w-4/12 -mx-8 lg:block">
            <div class="px-8 mt-2">
                <h1 class="mb-4 text-xl font-bold text-gray-700">Categorias</h1>
                <div class="flex flex-col max-w-sm px-4 py-6 bg-white rounded-lg shadow-md">
                    <ul>
                        {% for category in categories %}
                        <li class="mt-2"><a href="{% url 'blog:category' category.id %}" class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline" name="category">- {{ category.name }}</a></li>
                        {% empty %}
                        <li class="mt-2"><a href="#" class="mx-1 font-bold text-gray-700">- No se encontraron categorias</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
