{% extends 'layouts/blog.html' %}

{% block content %}

<div class="pb-8">
    <section class="">
        <div class="mb-12 bg-no-repeat bg-cover" style="{% for photo in photos %}{% if photo.is_first == 1 %}background-image: url('{{photo.photo.url}}');{% endif %}{% endfor %};">
            <div class="max-md:px-4" style="background-color: rgb(0 0 0 / 65%);">
                <div class="max-w-2xl pt-32 pb-20 mx-auto">
                    <div class="mb-6 text-center">
                        <span class="text-base md:text-lg">
                            <a class="text-gray-200 hover:underline" href="">
                                <span class="inline-block px-3 py-1 mr-3 text-xs font-semibold text-blue-600 bg-blue-100 rounded-xl">{{ post.category.name }}</span>
                            </a>
                            <span class="text-sm text-gray-400">{{ post.updated_at }}</span>
                        </span>
                        <h2 class="mt-4 text-4xl font-bold text-gray-100 md:text-5xl font-heading">{{ post.title }}</h2>
                    </div>
                    <div class="flex justify-center mb-8"><img class="object-cover w-12 h-12 rounded-full" src="https://monst-nextjs.vercel.app/assets/imgs/placeholders/avatar-8.png" alt="Monst">
                        <div class="pl-4">
                            <p class="mb-1 text-gray-400">{{ post.user.first_name }} {{ post.user.last_name }}</p>
                            <p class="text-xs font-semibold text-gray-400">{{ post.user }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto max-md:px-2">
            
            <div id="post" class="max-w-2xl mx-auto max-sm:px-4">
                <div class="mb-6 text-lg leading-loose text-gray-800">{{ post.body|safe }}</div>
            </div>

            <div class="overflow-hidden text-gray-700">
                <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
                    <div class="flex flex-wrap -m-1 md:-m-2">
                        {% for photo in photos %}
                            {% if not photo.is_first == 1 %}
                            <div class="flex flex-wrap w-1/3 mx-auto max-md:w-1/2 max-sm:w-full">
                                <div class="w-full p-1 md:p-2">
                                    <a href="{{photo.photo.url}}" target="_blank">
                                        <img src="{{photo.photo.url}}" alt="{{photo.id}}" class="block object-cover object-center w-full h-full rounded-lg">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- <div class="pt-40 pb-40 mb-12 bg-center bg-no-repeat bg-cover rounded-xl"
                style="background-image: url(&quot;assets/imgs/placeholders/img-8.png&quot;);">
                <div class="max-w-2xl mx-auto">
                    <div class="mb-6 text-center"></div>
                </div>
            </div> -->
            <div class="max-w-2xl mx-auto mt-10 mb-6">
                <div class="w-full">
                    <div class="px-6 py-10 bg-white border border-gray-100 rounded shadow"
                        data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="flex items-center"><img class="object-cover w-16 h-16 rounded-full"
                                src="https://monst-nextjs.vercel.app/assets/imgs/placeholders/avatar-8.png" alt="Monst">
                            <div class="pl-4">
                                <strong class="mt-6 mb-1 text-gray-700 text-md">{{ post.user.first_name }} {{ post.user.last_name }}</strong>
                                <p class="mt-3 text-xs text-gray-700">{{ post.user }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="pt-12 bg-white max-md:px-4">
    <div class="max-w-2xl mx-auto">
        <div class="max-w-screen-sm mx-auto antialiased">
            <h3 class="mb-6 text-3xl font-semibold text-gray-700">Comentarios</h3>
            <div class="space-y-4">
                {% for comment in comments %}
                <div class="flex">
                    <div class="flex-shrink-0 mr-3">
                        <img class="w-8 h-8 mt-2 rounded-full sm:w-10 sm:h-10" src="https://monst-nextjs.vercel.app/assets/imgs/placeholders/avatar-8.png" alt="Monst">
                    </div>
                    <div class="flex-1 px-4 py-2 leading-relaxed border border-gray-200 rounded-lg sm:px-6 sm:py-4">
                        <strong>{{ comment.user }}</strong>
                        <span class="ml-2 text-xs text-gray-400">{{ comment.created_at }}</span>
                        <p class="text-sm">{{ comment.body|linebreaks }}</p>
                    </div>
                </div>
                {% empty%}
                <div class="mt-4 text-gray-500">No hay comentarios, se el primero en comentar</div>
                {% endfor %}
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="mt-12 mb-4">
            <form action="" method="POST" class="w-full bg-white rounded-lg">
                {% csrf_token %}
                <div class="flex flex-wrap mb-6">
                    <h2 class="pt-3 pb-2 text-lg font-bold text-gray-700">Danos tu opinion</h2>
                    <div class="w-full mt-2 mb-2 md:w-full">
                        <textarea name="body" placeholder="Escriba un comentario" required="" class="w-full h-32 px-3 py-4 text-sm leading-normal bg-gray-100 border border-gray-300 rounded resize-none focus:ring-2 focus:bg-white focus:border-blue-500 focus:outline-none focus:ring-blue-300"></textarea>
                    </div>
                    <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Comentar
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="mt-12 mb-4">
            <h2 class="pt-3 pb-2 text-lg font-bold text-center text-gray-700"><a href="{% url 'login' %}" class="underline hover:text-blue-500">Inicie sesión</a> o <a href="{% url 'users:register' %}" class="underline hover:text-blue-500">Regístrese</a> para dejar su comentario</h2>
        </div>
        {% endif %}
        <div class="flex items-center justify-center pb-10">
            <a href="{% url 'blog:index' %}" class="px-4 py-2 mt-2 text-gray-600 border border-gray-300 rounded-lg dark:text-gray-200 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
                Leer otras publicaciones
            </a>
        </div>
    </div>
</div>

{% endblock content %}

{% block css %}
<style>
    #post h1,
    #post h2,
    #post h3,
    #post h4,
    #post h5,
    #post h6{
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    #post h1{
        font-size: 2rem;
    }
    #post h2{
        font-size: 1.5rem;
    }
    #post h3{
        font-size: 1.4rem;
    }
    #post p{
        margin-bottom: 1.5rem;
    }
    #post table{
        border-collapse: collapse;
        margin: 1.5rem 0;
    }
    #post td, #post th {
        border: 1px solid #000;
    }
</style>
{% endblock css %}







