{% extends 'layouts/blog.html' %}

{% block content %}
<div class="px-6 py-8">
    <div class="container flex justify-between mx-auto">
        <div class="w-full lg:w-8/12">
            <div class="mb-8">
                {% if user.is_authenticated %}
                    <div class="text-gray-700 dark:text-gray-500">Bienvenido @{{ user }} ({{ user.first_name }} {{ user.last_name }})</div>
                {% endif %}
            </div>
            <div class="px-10 py-6 text-center bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="mb-4">
                    <h2 class="text-2xl font-bold text-gray-700 dark:text-gray-200">Nuestra misión</h2>
                </div>
                <div class="mb-4">
                    <p class="text-gray-700 dark:text-gray-200">Llegar a proporcionar fuentes de trabajo con ingresos sustentables a los nuestros a través de gestiones y trabajo en conjunto con entidades gubernamentales.</p>
                </div>
                <div class="flex justify-center">
                    {% load static %}
                    <img src="{% static 'src/img/logo.jpg' %}" class="border rounded-lg">
                </div>
            </div>
        </div>
        <div class="hidden w-4/12 -mx-8 lg:block">
            <div class="px-8 mt-2">
                <h1 class="mb-4 text-xl font-bold text-gray-700 dark:text-gray-500">Categorias</h1>
                <div class="flex flex-col max-w-sm px-4 py-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    <ul>
                        {% for category in categories %}
                        <li class="mt-2">
                            <a href="{% url 'blog:category' category.id %}" class="mx-1 font-bold text-gray-700 dark:text-gray-400 hover:text-gray-600 hover:underline" name="category">- {{ category.name }}</a>
                        </li>
                        {% empty %}
                        <li class="mt-2">
                            <a href="#" class="mx-1 font-bold text-gray-700 dark:text-gray-400">- No se encontraron categorias</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
